In [3]:
import pandas as pd


raw_data = pd.read_csv("ext_list_September_2024.csv", sep=";")
columns = raw_data.columns[2:]
columns = [column[5:] for column in columns]
new_columns = raw_data.columns[:2].to_list() + columns
raw_data.columns = new_columns

raw_data["subject_areas"] = None
columns = raw_data.columns

for index, row in raw_data.iterrows():
    subject_areas = []
    for i_col, column in enumerate(columns):
        if i_col > 1 and not pd.isna(row[column]):
            subject_areas.append(column)

    raw_data.at[index, "subject_areas"] = "; ".join(subject_areas)

raw_data = raw_data[["ISSN", "EISSN", "subject_areas"]]
raw_data.columns = ["issn", "eissn", "subject_areas"]

raw_data.to_csv("subject_areas.csv", index=False)

raw_data.head(70).tail(10)

        issn     eissn                                      subject_areas
60       NaN  25159321                                            General
61  24723444  23305517            Chemical Engineering; Materials Science
62  15328813  23305525  Chemical Engineering; Chemistry; Materials Sci...
63  00010340       NaN                                           Medicine
64  21664072  21649731               Arts and Humanities; Social Sciences
65  15397890       NaN                Business, Management and Accounting
66  07470088       NaN                                    Social Sciences
67  08580855       NaN  Arts and Humanities; Business, Management and ...
68  00013072  14676281                Business, Management and Accounting
69  10133119       NaN                                        Engineering